* {
  margin: 0;
  padding: 0;
}
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  align-items: center;

  .title {
    color: #5d5b8d;
    font-size: 12px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    input {
      padding: 15px;
      border: none;
      width: 250px;
      border-bottom: 1px solid #a7bcff;
      &::placeholder {
        color: rgba(175, 175, 175);
      }
    }
    button {
      background-color: #7b96ec;
      color: white;
      padding: 10px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #8da4f1;
      font-size: 12px;
      cursor: pointer;

      img {
        width: 32px;
      }
    }
  }
  p {
    color: #5d5b8d;
    font-size: 12px;
    margin: 10px;
  }
}
.home {
  background-color: #5d5b8d;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
